/* .notes-unorderedlist {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} */

.note-lists {
    list-style: none;
}

.notes-card {
    width: 300px;
    height: auto;
    flex-basis: 225px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    padding-bottom: 20px;
    background-color: white;
}

.notes-card > img {
    width: 30%;
    height: auto;
    align-self: center;
    border-radius: 5px;
    object-fit: cover;

}

.note-name {
    font-weight: 500px;
    margin: 10px;
}

.description {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.description p {
    font-size: 0.75rem;
    width: 15rem;
    height: 105px;
}

.dropdown {
    margin-block: 15px;
    position: relative;
    display: inline-block;
}

.dropdown summary{
    list-style: none;
    font-size: 10px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: #f3f4f6;
    border: 1px solid #ddd;
    user-select: none;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    font-size: 10px;
    margin: 0;

}

button {
    width: 25px;
    height: 25px;
    background-color: #ffffff;
}

