* {
    box-sizing: border-box;
}

.product-card {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 450px;
    font-size: 32px;
    transition: opacity 5s ease, transform 5s ease;
}

.product-card > img {
    /*  Overlap */
    position: relative;
    z-index: 2;
    border-radius: 10%;
    margin-bottom: 0;
}

.product-card > img:hover {
    opacity: 95%;
}

.product-description {
    padding: 0.75rem 1.3rem 1.5rem;
    text-align: left;
    margin-top: -35px;
    background-color: #E6E1DF;
    border-radius: 0px 0px 20px 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
}

.product-description > h1 {
    font-size: 26px;
    margin: 50px 0px 0px 0px;
}

.product-description > p {
    font-size: 16px;
    color: #967069;
    margin-top: 1em;
}

div.price {
    margin-top: 10px;
    padding: 0.2rem;
    background-color: white;
    font-size: 14px;
    align-self: flex-start;
    border-radius: 20px 20px 20px 20px;
}